version: '3.8'

services:
  inference:
    build: .
    volumes:
      - ./output:/app/output  # Maps local 'output' folder to container
    ports:
      - "${INFERENCE_PORT}:1337"
    command:
      - "--model-file"
      - "/app/engine/${MODEL_NAME}.eim"
      - "--run-http-server"
      - "1337"

  app:
    devices:
      - "/dev/video0:/dev/video0"
      - "/dev/video1:/dev/video1"
      - "/dev/video1:/dev/video2"
      - "/dev/video1:/dev/video3"
    device_cgroup_rules:
      - 'c 81:* rmw'  # Grants read/modify/write for all video devices
    env_file:
      - .env  
    environment:
      - DISPLAY_FRAMES=1
      - DISPLAY=${DISPLAY}  # Pass host display      
      - CONFIG_PATH=/root/.particle/particle.config.json
      - DISTRO_VERSIONS_PATH=/etc/particle/distro_versions.json
    privileged: true
    build: app    
    depends_on:
      - inference
    volumes:
      - ./output:/app/output  # Ensure this mapping exists
      - "/tmp/.X11-unix:/tmp/.X11-unix"  # Allows OpenCV GUI to render on host screen
      - /home/particle/.particle/particle.config.json:/root/.particle/particle.config.json:ro
      - /etc/particle/distro_versions.json:/etc/particle/distro_versions.json:ro
